@{
    ViewData["Title"] = "Chat";
}

@section Scripts{
    <script src="~/js/chatwebsocket.js"></script>
    <script src="~/js/home/index.js"></script>
}

@section Styles{
    <link rel="stylesheet" href="~/css/home/index.css" />
}


<div class="chat">
    <div class="history">
        <textarea id="message_buffer"></textarea>
        <br />
        <input id="text_message" type="text" />
    </div>
    <div class="users">
        <table id="users_list">
            <tbody>

            </tbody>
        </table>
    </div>
</div>
